<h1 class="page-header">Categories</h1>

<div class="row">
    <div class="col-xs-2 col-sm-2">
        <div class="form-group">
            <a class="btn btn-success open-modal" data-id="-1"><i class="glyphicon glyphicon-plus"></i> New Catagory </a> 
        </div>
    </div>

    <div class="col-xs-7 col-md-4 col-lg-4 pull-right">
        <div class="input-group   pull-left margin-right">
                  <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-align-justify"></i></span> <select class="form-control selectwidthauto " id="length-catagories-table">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                  </select>
        </div>
        <div class="input-group  ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span> 
            <input placeholder="Search" class="form-control" type="text" id="search-catagories" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <div class="table-responsive">
            <table class="table table-striped" id="categories-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Icon</th>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
            </table>
          </div>
    </div>
</div>


<div id="modal-placeholder"></div>
          