<meta property="og:url"                content="{{@serverurl}}/{{@item.id}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{@item.name}}" />
<meta property="og:description"        content="{{@item.name}}" />
<meta property="og:image"              content="{{@serverurl}}/uploads/{{@item.firstimage}}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{@sharetwittertag}}">
<meta name="twitter:creator" content="{{@sharetwittertag}}">
<meta name="twitter:title" content="{{@item.name}}">
<meta name="twitter:description" content="{{@item.name}}">
<meta name="twitter:image" content="{{@serverurl}}/uploads/{{@item.firstimage}}">