<h1 class="page-header">News Articles</h1>
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            <div class="form-group">
                <a class="btn btn-success open-modal" data-id="-1"><i class="glyphicon glyphicon-plus"></i> New Article </a> 
            </div>
        </div>

        <div class="col-xs-4 col-md-3 col-lg-2 pull-right">
            <div class="input-group  ">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span> 
                <input placeholder="Search" class="form-control" type="text" id="search-news" />
            </div>
        </div>
    </div>
<div class="row" >
    <div class="col-xs-12 col-md-12 col-lg-12" id="news-container">
    </div>
</div>


<div id="modal-placeholder"></div>


